@using SimpleWebsite.ViewModels.PostViewModel

@model CreatePostViewModel

<h4> Post Create </h4>

<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="Create">

            <!-- Title -->
            <div class="form-group mb-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>


            <!-- Description -->
            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <!-- Tag -->
            @if (Model.TagList != null)
            {
                <div class="col-md-12 mb-3">
                    <label asp-for="TagId" class="control-label"></label>

                    <div class="form-check-inline">
                        @foreach (var item in Model.TagList)
                        {
                            <input name="TagId" type="checkbox" class="btn-check" id="@item.Id" value="@item.Id">
                            <label asp-for="TagId" class="btn btn-outline-primary" for="@item.Id">@item.Title</label>
                        }
                    </div>

                    <span asp-validation-for="TagId" class="text-danger"></span>
                </div>
            }


            <!-- Submit -->
            <div class="form-group mb-2">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

        </form>

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>